body {
     font-family: lato;
    background-color: white;
}

img {
    position: abosolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 300px;
}

ul, ol {
    text-align: center;
    list-style-type: none;
    padding: 0;
    color: black;
}

p{
    color: rgb(10, 10, 30);
    text-align: center;
}

h1, h2, h3 {
    color: rgb(20, 20, 50);
    text-align: center;
}

ul a, ol a:visited {
    color: black;
}