body {
     font-family: lato;
    background-color: hotpink;
}

img {
    position: abosolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 300px;
}

ul, ol {
    text-align: center;
    list-style-type: none;
    padding: 0;
    color: black;
}

p {
    color: rgb(10, 10, 30);
    text-align: center;
    border: 25px;
    padding: 50px;
    border-radius: 50%;
    border-color: greenyellow;
    border-width: 5px;
    border-style: solid;
    margin-left: 75px;
}

h1, h2, h3 {
    color: rgb(20, 20, 50);
    text-align: center;
    margin-top: 25px;
    padding: 50px;
}

ul a, ol a:visited {
    color: black;
}